/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; /* Default 16px */
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea {
    font: inherit;
}